link(href="./css/index.css" rel="stylesheet" type="text/css")
link(href="./css/style.css" rel="stylesheet" type="text/css")

title Matcha

include elements/header.pug
include elements/footer.pug

mixin inputprfsex(typesex, value, label)
	label(style="display:inline-block") #{label} ? 
	if value
		input(name='or_'+typesex type="checkbox" checked)
	else
		input(name='or_'+typesex type="checkbox")

mixin inputinfos(info, type, label, typeinfo)
	label #{label}
	input(name=type type=typeinfo value=info placeholder= label)&attributes(attributes)

mixin inputnbr(info, type, valminmax)
	if info == null
		- info = valminmax
	input(name=type type='number' min='18' max='99' value=info id=type onchange='checkage()')&attributes(attributes)

form.searchform(action="/search-back" method="post")
	.col-12#searcharea
		span.title #[em Que recherchez vous?]
		.checkbox
			| Orientation :
			+inputprfsex('h', initialdata.or_h, 'homme')
			| &#x2642;
			+inputprfsex('f', initialdata.or_f, 'femme')
			| &#x2640;
			+inputprfsex('a', initialdata.or_a, 'autre')
			| &#x2641;
		.fields
			+inputinfos(initialdata.tags, 'tags', 'Liste des Tags', 'text')(class = 'class-tags')
			+inputinfos(initialdata.distMax, 'distMax', 'Distance (Km)', 'number')(class = 'class-dist')
			+inputinfos(initialdata.popMin, 'popMin', 'Popularité', 'number')(class = 'class-pop')
			.agefield
				label Selectionnez la tranche d'âge désirée (comprise entre 18-99 ans):
				+inputnbr(initialdata.ageMin, 'ageMin', '18')(class = 'class-age')
				|   -  
				+inputnbr(initialdata.ageMax, 'ageMax', '99')(class = 'class-age')
				span( id='age')

				script.
					document.getElementById('age').style.color ='red';
					function checkage(){
						var old = document.getElementById('ageMax');
						var young = document.getElementById('ageMin');
						if (young.value < 18 || old.value > 99){
							if (young.value < 18)
								document.getElementById('age').innerHTML = '* Trop jeune !';
							if (old.value > 99)
								document.getElementById('age').innerHTML = '* Trop vieux !';
							if (young.value < 18 && old.value > 99)
								document.getElementById('age').innerHTML = '* Trop jeune et trop vieux !';
						}
						else{
							document.getElementById('age').innerHTML = "";
						}
						if (old.value < young.value){
							var tmp = old.value;
							old.value = young.value;
							young.value = tmp;
						}
					}
			br
			label Trier par: 
			select(form='search-from' name='sort')
				- var SortBy = {sortvalue: ["pop","dist","age"], label: ["Popularité","Distance","Tranche d'âge"]};
				- for (s = 0; s < 3; s++)
					option(value=SortBy.sortvalue[s] name=SortBy.label[s]) #{SortBy.label[s]}
		input(type='submit' name='Valider' value='Valider')

mixin profil(i)
	.profilmatch.col-4
		.ppmatch(style="background-image:url('"+values[i].img1+"')")
		.pimatch
			span.pnmatch #{values[i].login}
			span(style='font-size:.77em') #{values[i].birth_date} ans &bull; #{values[i].ville} (#{values[i].dist} km)
			.popularity
				| Popularité : #{values[i].popularity} 
				img(src='/img/star.png')
		a.profillink(href='/profil/'+values[i].login alt=values[i].login) &rarr; Visiter son profil &larr;
		.status #{values[i].status} 

center
	.fieldmatch
		- for (i = 0; i < 12 && i < nbresult; i++)
			+profil(i)

	.pages
